.logo-steam{
    max-width: 90px;
    max-height: 120px;
 }
 
 body{
    background-image: url("img/wallpaper1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
 }
 
 .navbar.navbar-expand-lg.navbar-light.bg-light{
    width: 200%;
    background-color: rgba(255, 255, 255, 0.301) !important;
    z-index: 100 !important;
 }
 
 .page-footer{
    background-color: transparent !important;
    color: rgb(221, 221, 221);
    text-align: center;
 }
 
 .card{
    background-color: rgba(54, 54, 73, 0.87) !important;
    color: rgb(221, 221, 221);
    margin: 2%;
    align-content: center;
 }
 
 .select-filter, .select-order{
    display: inline-block;
 }

 h3, p{
   color: rgb(221, 221, 221);
 }
