.logo-steam{
    max-width: 90px;
    max-height: 120px;
}

body{
    background-image: url("img/wallpaper1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

nav, .col.s12.m12, .page-footer, .footer-copyright{
    background-color: rgba(41, 41, 73, 0.671);
}

/* .col.m8.m8{ */
    


nav, .nav-wrapper{
    z-index: 100;
}

.page-footer{
    background-color: transparent !important;
}